
<div class="detail countries-detail">
 <div class="wrokflow-simulate" *ngIf="isPrototype && workFlowEnabled">
        <span class="arrow_box">Workflow Simulator</span>
        <button pButton pRipple type="button" icon="pi pi-cog" class="p-button-rounded wrokflow-simulate-btn"  [fitContent]="false"  (click)="openWorkflowSimilator()"></button>
    </div>
   <div id="title-bar">
    <div class="display">
        <div class="col" class="page-title-bar" *ngIf="(isMobile && !isSearchFocused) || !isMobile">
            <!-- <span class="pi pi-arrow-left back-action"></span> -->
            <span class="page-title" [innerHTML]="pageViewTitle | translate"></span>
        </div>
        <div class="w-100"  *ngIf="showBreadcrumb"> <app-breadcrumb></app-breadcrumb></div>
        <app-action-bar [buttons] = "leftActionBarConfig.children"
(onBtnClick)='actionBarAction($event)'
[style.order]="isMobile?'1':'0'"
[isRowSelected]="isRowSelected" [isChildListpage]="isChildPage"
[isListPage]="isList" [detailConditionalButtons]="conditionalActions">
</app-action-bar><app-workflow-action-bar [buttons] = "workflowActionBarConfig.children"
(onBtnClick)='workflowActionBarAction($event)'
[workflow]="workflowActions"
[style.order]="isMobile?'1':'0'">
</app-workflow-action-bar><ul class="nav  caption-bar" *ngIf="detailCaptionBarConfig" [ngStyle]="{width: detailCaptionBarConfig.width, 'justify-content':detailCaptionBarConfig.align}" id="caption-bar">
        <li class="nav-item" *ngFor="let captionItem of detailCaptionBarConfig.children" [style.display]="((captionItem.showOn =='mobile_only' && isMobile) || (captionItem.showOn =='desktop_only' && !isMobile) || (captionItem.showOn =='both')||(!captionItem.showOn))?'block':'none'">
            <div class="card" *ngIf="backupData && formatCaptionItems(captionItem,backupData)">
                <div class="card-body">
                   <h5 class="card-title" >{{captionItem.label | translate}}</h5>
                          <div *ngIf="!captionItem.render" class="card-sub-title" [innerHTML]="backupData && formatCaptionItems(captionItem,backupData)">
                         </div>
                    <div *ngIf="captionItem.render" class="card-sub-title">
                        <div [innerHtml]="captionItem.render(captionItem)"></div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    </div>
</div><div class="ev-detail-view" id="detail-view-container">
    <div class="detail-flex-box">
        <div class="flex align-items-center justify-content-center wizard-container col-2" *ngIf="wizardItems?.length && showScrollSpy" id="detail-wizard">
            <p-tieredMenu #menu [model]="wizardItems"></p-tieredMenu>
        </div>
        <div class="flex align-items-center justify-content-center form-container">
            <form class="ev-form " [formGroup]="detailFormControls" #detailForm [ngClass]="{'read-only-fields':enableReadOnly}">
                <div class="row form-body">
                    <div class="form-row vg-col-1">
                        <div class="form-col" [hidden]="hiddenFields.countryName" id="countryName">
    <div class="field-row"  [ngClass]="{'required': formFieldConfig?.countryName?.isRequired, 'error':inValidFields.countryName}">
        <label for="countryName" class="col-form-label countryName-label" [textContent]="'COUNTRY_NAME'|translate"></label>
        <span class="info-bubble" *ngIf="formFieldConfig?.countryName?.infoBubble"   [pTooltip]="formFieldConfig?.countryName?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <p-autoComplete 
            [placeholder]="formFieldConfig?.countryName?.placeHolder || 'Select'"
            class="form-input" 
            formControlName="countryName" 
                        [forceSelection]="true" 
            [suggestions]="filteredItemscountryName" 
            completeOnFocus="true" [dropdown]="true"
           (onShow)="attachInfiniteScrollForAutoCompletecountryName('countryName')"   (completeMethod)="autoSuggestSearchcountryName($event,formFieldConfig?.countryName)"
            [multiple]="formFieldConfig?.countryName?.multiple" (onHide)="autoSuggestPageNo = 0;filteredItemscountryName = []; isAutoSuggestCallFiredcountryName = false;" [field]="(formFieldConfig?.countryName?.displayField)"
             (onSelect)="onSelect($event,'countryName',formFieldConfig?.countryName)" (onUnselect)="unSelect($event,'countryName',formFieldConfig?.countryName?.multiple)" appendTo="body"
(onClear)="unSelect($event,'countryName',formFieldConfig?.countryName?.multiple)">
<ng-template let-item pTemplate="item">
                <div>{{formatAutoComplete(item,formFieldConfig?.countryName?.displayField,countryName)}}</div>
            </ng-template>
        </p-autoComplete>
        <div class="fst-italic fs-5 help-text">{{formFieldConfig?.countryName?.helpText || ''}}</div>
    </div>
</div><div class="form-col" [hidden]="hiddenFields.countryCode" id="countryCode">
    <div class="field-row"  [ngClass]="{'required': formFieldConfig?.countryCode?.isRequired, 'error':inValidFields.countryCode}">
        <label for="countryCode" class="col-form-label countryCode-label" [textContent]=" 'COUNTRY_CODE'|translate "></label>
        <span class="info-bubble" *ngIf="formFieldConfig?.countryCode?.infoBubble"   [pTooltip]="formFieldConfig?.countryCode?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <input type="text " pInputText class="form-control " id="countryCode " formControlName="countryCode" [placeholder]="formFieldConfig?.countryCode?.placeHolder || ''"
[maxlength]="formFieldConfig?.countryCode?.maxLength" />
        <div class="fst-italic fs-5 help-text">{{formFieldConfig?.countryCode?.helpText || ''}}</div>
    </div>
</div>
                    </div>
                </div>
        </form>
        </div>
    </div>
</div>
</div>
